<!DOCTYPE html>
<html lang="en" ng-app="notepadJS">
    <head>
      <meta charset="utf-8">
      <title>Notepad</title>
      <script src="/public/angular/angular.min.js"></script>
      <script src="/client/assets/js/script.js"></script>
      <script type="text/javascript" src="https://parse.com/downloads/javascript/parse-1.6.14.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/client/assets/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/client/assets/css/style.css" />
    </head>

    <body>
      <div class="container-fluid" ng-controller="NotepadController as notepadJS" >
        
        <header class="row">
          <span class="col-xs-2 col-lg-2" ng-click="addNewNote()"> 
            <img class="icon icons8-Plus" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAnklEQVRoQ+3XQQqAMAwF0Xr/Q+vGjSIS+A1Sea7bNJmMqW5j8WdbPP+hgK872NmB/VZcy1ktQc/EFVDRUwdeKFGIQhUCFAopmUIUolBIgEIhQFOIQg0K3b8iwyOmb79o//QOKGA682vA/3dgFkB/ZBWSLjIXWcWTlzUUohCFQgIUCgGaQhSiUEiAQiFAUygEGG/v7ECcXCWAAiqUOtccVL8oMW7pmEkAAAAASUVORK5CYII=" width="30" height="30">
          </span>
          <h1 class="col-sm-10 col-lg-10">My awesome notepad</h1>
        </header>

         <div class="row" >
       
          <section class="col-xs-12 col-sm-6 col-lg-4">
            <ul class="list-group" >
              <li class="list-group-item" ng-repeat="note in notes"  ng-click="showNote(note.id)" >
                {{note.text | limitTo:15}}
              </li>
            </ul>
          </section>
          
          <section class="col-xs-12 col-sm-6 col-lg-8">
            <div>
              <textarea id="currentNote" name="currentNote" ng-model="currentNote.text" class="form-control" rows="20"></textarea>
              <button ng-click="submit()" class="btn btn-default">Save</button>
              <button ng-click="delete()" class="btn btn-default">Delete</button>
            </div>
          </section>
          
        </div>
        
        <a href="https://icons8.com">Icon pack by Icons8</a>
      </div>
    </body>
</html>